div {
    box-shadow: 10px 10px 5px #888888;
}

.plain-block:hover, .plain-block-mid:hover, .thrd-block:hover, .thrd-block-show:hover {
    font-style: oblique;
    background-color: #02267a;
   	border: solid 10px #02267a;
    box-shadow: 5px 5px 2.5px #888;
}

.help:hover {
    font-style: oblique;
    background-color: #02267a;
   	border: solid 5px #bab3b3;
    box-shadow: 5px 5px 2.5px #888;
}

.emergency:hover {
    font-style: oblique;
    background-color: red;
   	border: solid 10px red;
    box-shadow: 5px 5px 2.5px #888;
}

.sun:hover {
  font-style: oblique;
  border: solid 2px #bab3b3;      
  box-shadow: 5px 5px 2.5px #888;
}

.tnd-block:hover {
    font-style: oblique;
    background-color: #02267a;
    border: solid 4px #02267a;
    box-shadow: 5px 5px 2.5px #888;
}

.header {
	background-color: #001A57;
	text-align: center;
	
	color: #bab3b3;
	font-size:200%;
	font-family: "Georgia", Times, serif;
    line-height: 35px;

	border: solid 5px #bab3b3;
    padding: 2.5% 2.5%; 
	margin: 3.13%;
	margin-bottom: 1.3%;
}

.plain-block {
	color: white;
	background-color: #001A57;
    /*40px --> 3%, 10px -->1.3%*/

	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75% 1.3% 3%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.plain-block-mid {
	color: white;
	background-color: #001A57;
	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.emergency {
    color: #bab3b3;
	background-color: #c50707;
	text-align: center;
	border: solid 10px #c50707;
	margin: 1.3% 0.75%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.help {
	color: #bab3b3;
	background-color:#001A57;
	text-align: center;
	border: solid 5px #bab3b3;
	margin: 1.3% 0.75%;

	float: left;
	width: 22%;
	height: 85px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.sun {
	color: white;
	background-color: #001A57;
	text-align: center;

	float: left;
	width: 22.3%;
	max-height: 95px;
	margin: 1.3% 0.75%;
}

.tnd-block {
  	color: #bab3b3;
	background-color: #001A57;
	border: solid 2.5px #bab3b3;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 50px;
  
  	float: left;
	width: 41.5%;
    height: 75px;
  
    text-align: center;
    line-height: 75px;
	font-size: 125%;
	font-family: "Georgia", Times, serif;
}

.thrd-block {
	opacity:0;
  	color: #bab3b3;
	background-color: #001A57;
	border: solid 2.5px #bab3b3;
	
    text-align: center;
    line-height: 75px;
    font-size: 125%;
    font-family: "Georgia", Times, serif;

	float: left;
	width: 41.5%;
    height: 75px;
  
  	border: solid 10px #001A57;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 40px;
}

.thrd-block-show {
  	color: #bab3b3;
	background-color: #001A57;
	border: solid 2.5px #bab3b3;
	
    text-align: center;
    line-height: 75px;
    font-size: 125%;
    font-family: "Georgia", Times, serif;

	float: left;
	width: 41.5%;
    height: 75px;
  
  	border: solid 10px #001A57;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 40px;
}

.block-long {
    color: #bab3b3;
	background-color: #001A57;
	border: solid 2.5px #bab3b3;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 50px;
  
  	float: left;
	width: 90%;
    height: 75px;
  
    text-align: center;
    line-height: 75px;
	font-size: 125%;
	font-family: "Georgia", Times, serif;
}

.foot {
    color: #bab3b3;
	background-color: #001A57;
	border: solid 2.5px #bab3b3;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 50px;
  
  	float: left;
	width: 90%;
    height: 40px;
  
    text-align: center;
    text-height: 20px;
	font-size: 75%;
	font-family: "Georgia", Times, serif;
}
