.header {
	background-color: #001A57;
	text-align: left;
	text-indent: 13%;
	
	color: #635e5e;
	font-size:250%;
	font-family: "Georgia", Times, serif;

	padding: 1.3% 1.3%; /*first defines top and bottom; second defines right and left --> will go clockwise from top*/
	margin: 3.13%;
	margin-bottom: 1.3%;
}

.plain-block {
	background-color: white; /*40px --> 3%, 10px -->1.3%*/

	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75% 1.3% 3%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.plain-block-mid {
	background-color: white;
	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.emergency {
	background-color: red;
	text-align: center;
	border: solid 10px red;
	margin: 1.3% 0.75%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.help {
	color: white;
	background-color: #001A57;
	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75%;

	float: left;
	width: 21%;
	height: 75px;
	line-height: 75px;
	font-size:125%;
	font-family: "Georgia", Times, serif;
}

.sun {
	color: white;
	background-color: #001A57;
	text-align: center;

	float: left;
	width: 22.3%;
	max-height: 95px;
	margin: 1.3% 0.75%;
}

.tnd-block {
	background-color: white;
	border: solid 10px #001A57;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 40px;
  
  	float: left;
	width: 40%;
	height: 75px;
  
    	text-align: center;
    	line-height: 75px;
	font-size: 125%;
	font-family: "Georgia", Times, serif;
}

.thrd-block {
	opacity:0;
    	background-color: white;
	
    	text-align: center;
    	line-height: 75px;
    	font-size: 125%;
    	font-family: "Georgia", Times, serif;

	float: left;
	width: 40%;
    	height: 75px;
  
  	border: solid 10px #001A57;
	padding: 1.3% 1.3%;
  	margin: 10px 0px 10px 40px;
}
