.header {
	background-color: #001A57;
	text-align: left;
	text-indent: 100px;
	
	color: #635e5e;
	font-size:250%;

	padding: 5px 5px; /*first defines top and bottom; second defines right and left --> will go clockwise from top*/
	margin: 40px;
}

.plain-block {
	background-color: white;
	text-align: center;

	border: solid 10px #001A57;
	padding: 40px, 40px;
	margin: 40px;

	float: left;
	width: 20%;
	margin: 10px 10px 10px 40px;
}

.emergency {
	background-color: red;
	text-align: center;

	border: solid 10px red;
	padding: 40px, 40px;
	margin: 40px;

	float: left;
	width: 20%;
	margin: 10px 10px 10px 20px;
}



